@import './base.css';

body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url('./wavy-lines.svg');
    background-size: cover;
    user-select: none;
}

code {
    font-weight: 600;
    padding: 3px 5px;
    border-radius: 2px;
    background-color: var(--color-background-mute);
    font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    font-size: 85%;
}

#root {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.logo {
    margin-bottom: 20px;
    -webkit-user-drag: none;
    height: 128px;
    width: 128px;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 1.2em #6988e6aa);
}

.shortcut_button {
    margin-bottom: 20px;
    -webkit-user-drag: none;
    height: 1.8rem;
    width: 1.8rem;
    will-change: filter;
    transition: filter 300ms;
}

.shortcut_button:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 1.2em #6988e6aa);
}

.creator {
    font-size: 14px;
    line-height: 16px;
    color: var(--ev-c-text-2);
    font-weight: 600;
    margin-bottom: 10px;
}

.text {
    font-size: 28px;
    color: var(--ev-c-text-1);
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    margin: 0 10px;
    padding: 16px 0;
}

.tip {
    font-size: 16px;
    line-height: 24px;
    color: var(--ev-c-text-2);
    font-weight: 600;
    align-self: center;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.react {
    background: -webkit-linear-gradient(315deg, #087ea4 55%, #7c93ee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.ts {
    background: -webkit-linear-gradient(315deg, #3178c6 45%, #f0dc4e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.actions {
    display: flex;
    gap: 0.5rem;
    padding-top: 32px;
    margin: -6px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.action {
    flex-shrink: 0;
    padding: 6px;
}

.action a {
    width: 10rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
    text-align: center;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 8px;
    line-height: 38px;
    font-size: 14px;
    border-color: var(--ev-button-alt-border);
    color: var(--ev-button-alt-text);
    background-color: var(--ev-button-alt-bg);
}

.disabled a {
    background-color: rgb(165, 1, 1);
}

.disabled a:hover {
    background-color: rgb(119, 0, 0) !important;
}

.action a:hover {
    border-color: var(--ev-button-alt-hover-border);
    color: var(--ev-button-alt-hover-text);
    background-color: var(--ev-button-alt-hover-bg);
}

.registered a {
    background-color: rgb(18, 107, 0)
}

.registered a:hover {
    background-color: rgb(15, 90, 0)
}

.help-link a {
    text-decoration: none;
    color: var(--ev-c-text-1);
}

.versions {
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    padding: 15px 0;
    font-family: 'Menlo', 'Lucida Console', monospace;
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    border-radius: 22px;
    background-color: #202127;
    backdrop-filter: blur(24px);
}

.shortCuts {
    position: absolute;
    top: 2.9rem;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);

    width: max-content;
    margin: 0 auto;
    padding: 10px 10px;
    font-family: 'Menlo', 'Lucida Console', monospace;
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
    align-items: center;
    border-radius: 8px;
    opacity: 0.8;
}

.shortCuts:hover {
    filter: drop-shadow(0 0 0.5em #6988e6aa);
}

.status {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0 auto;
    padding: 10px 10px;
    font-family: 'Menlo', 'Lucida Console', monospace;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    background-color: #202127;
    backdrop-filter: blur(24px);
    gap: 0.5rem;
}

.green {
    width: 1rem;
    height: 1rem;
    background-color: green;
    border-radius: 100%;
}

.red {
    width: 1rem;
    height: 1rem;
    background-color: rgb(128, 0, 0);
    border-radius: 100%;
}

.status_item:hover {
    filter: drop-shadow(0 0 0.5em #ffffffaa);
    color: rgb(187, 253, 183);
    cursor: pointer;
}

.versions li {
    display: block;
    float: left;
    border-right: 1px solid var(--ev-c-gray-1);
    padding: 0 20px;
    font-size: 14px;
    line-height: 14px;
    opacity: 0.8;

    &:last-child {
        border: none;
    }
}

.actions {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.expected_working_time_total {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: auto auto auto;
}

.expected_working_time_total_save {
    width: 1rem;
}

.ant-tabs-content.ant-tabs-content-top {
    height: 100% !important;
}

@media (max-width: 720px) {
    .text {
        font-size: 20px;
    }

    .actions {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 620px) {
    .versions {
        display: none;
    }
}

@media (max-width: 350px) {
    .tip {
        display: none;
    }

    .actions {
        grid-template-columns: auto;
    }
}
